<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
    <h1>Nyishia Robinson</h1>
    <p>I am currently working on this lab for my web development class, and I am genuinely enjoying the process of learning how the web works. Each lesson helps me better understand how websites are built and how different technologies come together to create interactive experiences.</p>
       
    <img src="{{ url_for('static', filename='images/myphoto.jpeg') }}" alt="My image">
</body>
</html>
